* {
  font-family: 'Courier New';
}

.ban1 {
  background-color: rgb(233, 150, 82);
}

.ban2 {
  background-color: rgb(165, 50, 50);
}

.Listy {
  background-color: rgb(245, 175, 117);
  max-height: 100vh;
  overflow-y: 'auto';
}

.mainb {
  background-color: rgb(190, 74, 74);
  max-height: 100vh;
  overflow-y:scroll;
  direction: rtl;
}
p {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.footer {
  background-color: rgb(134, 131, 131);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}